<head>
  <title>Флэшкарточкер</title>
  <link rel="stylesheet" href="application.css">
</head>

<body>
  <section id="container">
    <section>
      <p style="font-size: 22px;">
        Первый в мире удобный менеджер флеш-карточек. Именно так.  взято из home index.html.erb
      </p>
    </section>

  </section>
</body>
